.center.user-callout.promotion-callout
  .svg-container
    = custom_icon('icon_audit_events_purple')
  .user-callout-copy
    %h4
      - if Gitlab::CurrentSettings.should_check_namespace_plan?
        = s_('Promotions|Upgrade your plan to activate Audit Events.')
      - else
        = s_('Promotions|Track your project with Audit Events.')
    %p
      = s_('Promotions|Audit Events is a way to keep track of important events that happened in GitLab.')
      = link_to _('Read more'), help_page_path('administration/audit_events.md'), target: '_blank'

    = render 'shared/promotions/promotion_link_project', location: :audit_events
